body{
  background-color: #f5f5f5;
  font-family: "Montserrat";
  margin: 0;
  padding: 40px 0;
}

.product-card{
  display: flex;            /* Image and text side-by-side */
  align-items:center;      /* Centers the text vertically based on the image */
  gap: 20px;                /* Gap between the image and the text */

  max-width: 700px;         
  margin: 20px auto;        /* Centers the image and text horizontally */

  padding: 20px;            /* Space inside product-card */

  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  margin-bottom: 50px;
}

.price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;      /* Margin below the price */
}

.description {
  line-height: 1.5;         /* Line spacing of the description */
}

.product-details {
  text-align: center;
}

img{
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.buy-btn {
  background-color: #760000;   /* distinct color */
  color: rgb(255, 255, 255);
  border: none;
  padding: 12px 100px;          /* adequate padding */
  border-radius: 8px;          /* rounded corners */
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
  display: block;
  margin: 20px auto;
}

.buy-btn:hover {
  background-color: #b5b5b6;
}

@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
  }
}
